In [1]:
a = "사랑해요, 파이썬!"

a[0]

'사'

In [2]:
a[0:3]

'사랑해'

# %는 거기에 변수를 대입한단 의미. %d는 정수, %f는 실수, %s는 문자열

In [3]:
"%10s"%"python"

'    python'

In [4]:
"%10s"%"파이썬"

'       파이썬'

In [7]:
"%-10s파이썬"%"사랑해요"

'사랑해요      파이썬'

In [8]:
"%0.4f"%3.4213423

'3.4213'

In [9]:
"%10.4f"%3.4213423

'    3.4213'

In [10]:
"%-10.4f"%3.4213423

'3.4213    '

In [13]:
a = "hobby"
a.count('b')

2

In [14]:
a = "Python is best choice"

a.find('b')

10

In [15]:
a.find('is')

7

In [19]:
a.find('l')

-1

In [20]:
a.index('b')

10

In [21]:
a.index('k')

ValueError: substring not found

In [22]:
a = ","
a.join('abcd')

'a,b,c,d'

In [23]:
a = "!"
a.join("파이썬")

'파!이!썬'

In [25]:
a = "python"
a.upper()

'PYTHON'

In [26]:
a.lower()

'python'

In [27]:
a = "  파이썬  "
a.strip()

'파이썬'

In [29]:
a.lstrip()

'파이썬  '

In [30]:
a.rstrip()

'  파이썬'

In [31]:
a = "Life is too short"
a.replace("Life","Your leg")

'Your leg is too short'

In [32]:
a.split()

['Life', 'is', 'too', 'short']

In [33]:
a = "a,b,c,d"
a.split('.')

['a,b,c,d']

In [34]:
# 화장실 가고싶다

In [35]:
print(ord('앤'))

50532

In [36]:
print(ord('캐'))

52880

In [39]:
print(chr(50532))
print(chr(52880))

앤
캐

In [41]:
s = input('문자열을 입력하세요: ')
print(s[::-1])

문자열을 입력하세요: 사랑해요 파이썬!
!썬이파 요해랑사

In [1]:
a = input('파일을 입력하세요: ')
b = a.split('.')
print('파일:',a)
print(f'파일명:{b[0]},확장자: {b[1]}')

파일을 입력하세요: test.py
파일: test.py
파일명:test,확장자: py

In [8]:
a = input('파일을 입력하세요: ')
b = a.split('.')
print('파일:',a)
print('파일명:%s, 확장자:%s'%(b[0],b[1]))

파일을 입력하세요: test.py
파일: test.py
파일명:test, 확장자:py

In [9]:
import datetime
datetime.datetime.now()

datetime.datetime(2021, 8, 24, 10, 52, 54, 996997)

In [13]:
import time
time.time()

1629770134.1692393

In [14]:
import time
time.localtime()

time.struct_time(tm_year=2021, tm_mon=8, tm_mday=24, tm_hour=10, tm_min=55, tm_sec=43, tm_wday=1, tm_yday=236, tm_isdst=0)

In [23]:
import datetime
print(datetime.datetime.now())
now = str(datetime.datetime.now())
print(now)

year = now[0:4]
month = now[5:7]
day = now[8:10]
hour = now[11:13]
minute = now[14:16]
second = now[17:19]

print(f'지금 시각은 {year}년{month}월{day}일 {hour}시{minute}분{second}초 입니다.')

2021-08-24 11:07:11.990529
2021-08-24 11:07:11.990529
지금 시각은 2021년08월24일 11시07분11초 입니다.

In [28]:
import datetime

# 문자열 슬라이싱
now = datetime.datetime.now()
s_now = str(datetime.datetime.now())
print(s_now)

# 오브젝트에서 함수이용
now.strftime('%Y-%m-%d %H:%M:%S')

2021-08-24 11:16:55.095223

'2021-08-24 11:16:55'

In [41]:
import urllib.request
import ssl
context = ssl._create_unverified_context()

#환율정보 페이지 불러오기
print("[환율정보 불러오기]")
URL = "https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=%ED%99%98%EC%9C%A8"
page = urllib.request.urlopen(URL, context=context)
text = page.read().decode("utf8")  # 해당 페이지의 소스코드
#print(text)

#환율정보 가져오기: 기준시간
searchText = 'class="grp_info"> <em>'
where      = text.find(searchText)  #소스코드에서 해당 문자열의 시작위치
targetInfo = text[where+len(searchText):where+len(searchText)+16]
print(f'-환율기준시간: {targetInfo}')

#환율정보 가져오기: 달러
searchText = '<span>미국 <em>USD</em></span></a></th> <td><span>'
where      = text.find(searchText)
targetInfo = text[where+len(searchText):where+len(searchText)+8]
print(f'-달러: {targetInfo}')

#환율정보 가져오기: 위안
searchText = '<span>중국 <em>CNY</em></span></a></th> <td><span>'
where      = text.find(searchText)
targetInfo = text[where+len(searchText):where+len(searchText)+6]
print(f'-위안: {targetInfo}')

#환율정보 가져오기:유로화
searchText = '<span>유럽연합 <em>EUR</em></span></a></th> <td><span>'
where      = text.find(searchText)
targetInfo = text[where+len(searchText):where+len(searchText)+8]
print(f'-유로: {targetInfo}')

#환율정보 가져오기:엔화
searchText = '<span>일본 <em>JPY 100</em></span></a></th> <td><span>'
where      = text.find(searchText)
targetInfo = text[where+len(searchText):where+len(searchText)+8]
print(f'-엔화: {targetInfo}')

#환율정보 가져오기:뉴질랜드
searchText = '<span>뉴질랜드 <em>NZD</em></span></a></th> <td><span>'
where      = text.find(searchText)
targetInfo = text[where+len(searchText):where+len(searchText)+6]
print(f'-뉴질: {targetInfo}')

searchText = '<span>캐나다 <em>CAD</em></span></a></th> <td><span>'
where      = text.find(searchText)
targetInfo = text[where+len(searchText):where+len(searchText)+6]
print(f'-캐나다: {targetInfo}')

[환율정보 불러오기]
-환율기준시간: 2021.08.24 12:04
-달러: 1,166.70
-위안: 179.97
-유로: 1,369.65
-엔화: 1,063.25
-뉴질: 804.56
-캐나다: 922.18

In [42]:
#배고프다

In [46]:
num1 = 3
num2 = 10
lst = [1, 2, 3, 4, 5]

print(num1 in lst)

True

In [48]:
a = int(input("시프트할 숫자는?: "))
loop = int(input("출력할 횟수는?: "))

for i in range(loop) :
    print("%d << %d = %d" % (a, i+1, a << i+1))
    
for i in range(loop) :
    print("%d >> %d = %d" % (a, i+1, a >> i+1))

시프트할 숫자는?: 500
출력할 횟수는?: 3
500 << 1 = 1000
500 << 2 = 2000
500 << 3 = 4000
500 >> 1 = 250
500 >> 2 = 125
500 >> 3 = 62

In [49]:
hobby1 = '영화감상'
hobby2 = '수영'
my_hobby = '독서'
my_hobby == hobby1 or my_hobby == hobby2

False

In [15]:
a = int(input("동전으로 교환할 금액을 입력하세요: "))

print(f"500원짜리 ==> {a//500}개")
print(f"100원짜리 ==> {(a%500)//100}개")
print(f"50원짜리 ==> {(a%100)//50}개")
print(f"10원짜리 ==> {(a%50)//10}개")
print(f"잔돈 ==> {(a%10)}개")

동전으로 교환할 금액을 입력하세요: 4321
500원짜리 ==> 8개
100원짜리 ==> 3개
50원짜리 ==> 0개
10원짜리 ==> 2개
잔돈 ==> 1개

In [16]:
교환할_금액 = int(input("교환할 금액을 입력하세요: "))
오백원 = 교환할_금액 // 500
print (f'500원 짜리 ==> {오백원}개')
백원 = (교환할_금액-오백원*500) // 100
print (f'100원 짜리 ==> {백원}개')
오십원 = (교환할_금액-오백원*500-백원*100) // 50
print (f'50원 짜리 ==> {오십원}개')
십원 = (교환할_금액-오백원*500-백원*100-오십원*50) // 10
print (f'10원 짜리 ==> {십원}개')
잔돈 =  (교환할_금액-오백원*500-백원*100-오십원*50-십원*10)
print (f'1원 짜리 ==> {잔돈}개')

교환할 금액을 입력하세요: 4321
500원 짜리 ==> 8개
100원 짜리 ==> 3개
50원 짜리 ==> 0개
10원 짜리 ==> 2개
1원 짜리 ==> 1개

# 제어문 (조건문, 반복문)

## if

In [3]:
score = int(input("점수를 입력하세요: "))

if score>=90 :
    print("A")
elif score>=80 :
    print("B")
elif score>=70 :
    print("C")
elif score>=60 :
    print("D")
else :
    print("F")
    
print("학점입니다. ^^")

점수를 입력하세요: 99
A
학점입니다. ^^

In [14]:
x = int(input('숫자를 입력해 주세요: '))
if x % 2 == 0:
    print(f'입력된 수: {x} ==> 짝수')
else :
    print(f'입력된 수: {x} ==> 홀수')

숫자를 입력해 주세요: 50
입력된 수: 50 ==> 짝수

In [23]:
x = int(input('성적을 입력해 주세요: '))

if 89 < x :
    grade = 'a'
elif 80 <= x :
    grade = 'b'
elif 70 <= x :
    grade = 'c'
else :
    grade = 'd'
    
print(f'성적: {x} 는 {grade} 등급 입니다.')

성적을 입력해 주세요: 79
성적: 79 는 c 등급 입니다.

In [53]:
import datetime
now = datetime.datetime.now()
c_year = now.year #now.month, now.day 등등 #yy += 1900은 yy=yy+1900이라는 뜻~

a = input('주민번호: ')

yy = a[0:2]
mm = a[2:4]
dd = a[4:6]
G = a[7]

if G == '1':
    성별 = '남성'
    년도 = 1900 + int(yy)
if G == '2':
    성별 = 'du성'
    년도 = 1900 + int(yy)
if G == '3':
    성별 = '남성'
    년도 = 2000 + int(yy)
if G == '4':
    성별 = '여성'
    년도 = 2000 + int(yy)
    
나이 = int(c_year) - 년도
    
print(f'{년도}년 {mm}월 {dd}일, {나이}세, {성별}')

주민번호: 191218-1234567
1919년 12월 18일, 102세, 남성

In [47]:
num = input('주민번호 : ')
year = num[0:2]
age=0
age=2021-(1900+int(year))+1
month=num[2:4]
day=num[4:6]
seyy=num[7]
if seyy=='1' or seyy=='3':
    seyy='남자'
elif seyy=='2' or seyy=='4':
    seyy='여자'
print(f'{year}년 {month}월{day}일,{age}세, {seyy}')

주민번호 : 191218-1234567
19년 12월18일,103세, 남자

In [66]:
a_list = list(input('괄호: '))
print(a_list)

for i in a_list:
    print(i)

괄호: )))()()(((
[')', ')', ')', '(', ')', '(', ')', '(', '(', '(']
)
)
)
(
)
(
)
(
(
(

In [71]:
a_list = list(input('괄호: '))
print(a_list)

t = 0
for i in a_list:
    if i == '(':
        t = t+1
    elif i == ')':
        t = t-1
    if t < 0 :
        break
if t == 0 :
    print('true')
else :
    print('false')

괄호: ))(())((
[')', ')', '(', '(', ')', ')', '(', '(']
false

# 집

In [5]:
import datetime
now = str(datetime.datetime.now())
print(now)

t = int(now[11:13])
m = int(now[14:16])
s = int(now[17:19])

if '60-m' == '00':
    x = 18-t
else :
    x = 17-t

print(f'집에 갈 때까지 {x}:{60-m}:{60-s} 남았다!')

2021-08-25 14:27:38.702467
집에 갈 때까지 3:33:22 남았다!

# 커피

In [116]:
menu = '''[커피 자동주문 머신 메뉴]
-----------------------------------
-아메리카노는 2500원
-카페라테는 3000원
-카푸치노는 3000원
입니다. 원하시는 커피 종류와 잔수를 입력하세요.
-----------------------------------
'''
coffee1 = int(input(menu+'아메리카노 몇잔?: '))
coffee2 = int(input('카페라테 몇잔?: '))
coffee3 = int(input('카푸치노 몇잔?: '))
#print(coffee1, coffee2, coffee3)

total = coffee1*2500+coffee2*3000+coffee3*3000

print(f'지불할 총 금액은 {total}원 입니다')

money = int(input('돈을 넣어주세요: '))
if money >= total :
    print(f'거스름돈은 {money-total}원 입니다.')
else :
    print(f'금액이 부족합니다. {total-money}원을 더 넣어주세요.')

[커피 자동주문 머신 메뉴]
-----------------------------------
-아메리카노는 2500원
-카페라테는 3000원
-카푸치노는 3000원
입니다. 원하시는 커피 종류와 잔수를 입력하세요.
-----------------------------------
아메리카노 몇잔?: 1531132
카페라테 몇잔?: 1547486
카푸치노 몇잔?: 48652256
지불할 총 금액은 154427056000원 입니다
돈을 넣어주세요: 131487878943545642
거스름돈은 131487724516489642원 입니다.

# 난수

In [93]:
import random

#정수
print(random.randint(10,20)) #10<=n<=20 중 정수 1개 임의추출
print(random.randrange(10,20,2)) #2씩 증가 정수 1개 임의추출

#실수
print(random.random()) #0~!사이의 임의의 실수
print(random.uniform(10,20)) #10~20사이의 임의의 실수

a_list = list(range(1,6)) #[1,2,3,4,5]

a_list = [1,2,3,4,5]
random.shuffle(a_list)
print(a_list)

random.choice(a_list)

10
16
0.033433094188857204
10.974036610489243
[1, 4, 3, 2, 5]

5

# 주사위

In [101]:
a_list = list(range(1,6))
x = int(random.choice(a_list))
y = int(random.choice(a_list))

print('주사위를 던집니다!')
print('------------------')
print(f'A의 주사위 숫자는 {x}입니다.')
print(f'B의 주사위 숫자는 {y}입니다.')
print('------------------')

if x > y :
    print('A가 이겼습니다.')
if x == y :
    print('비겼습니다.')
if x < y :
    print('B가 이겼습니다.')

주사위를 던집니다!
------------------
A의 주사위 숫자는 3입니다.
B의 주사위 숫자는 2입니다.
------------------
A가 이겼습니다.

In [124]:
A = [random.randrange(1,7) for _ in range(2)]
#print(A[0], A[1])

print('주사위를 던집니다!')
print('------------------------')
print('A의 주사위 숫자는',A[0],'입니다.')
print('B의 주사위 숫자는',A[1],'입니다.')
print('------------------------')

if A[0] > A[1] :
    print('A가 이겼습니다.')
if A[0] == A[1] :
    print('비겼습니다.')
if A[0] < A[1] :
    print('B가 이겼습니다.')

주사위를 던집니다!
------------------------
A의 주사위 숫자는 5 입니다.
B의 주사위 숫자는 5 입니다.
------------------------
비겼습니다.

# for 반복문

In [128]:
#range

alist = list(range(1,10,1))
alist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [129]:
#range

alist = list(range(10))
alist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [133]:
#range
#range(10)  #10번
#range(1,11,1)  #10번
#range(1,11,2)  #2씩 증가 [1,3,5,7,9]

for i in range(10):
    print(f'[{i}] python')

[0] python
[1] python
[2] python
[3] python
[4] python
[5] python
[6] python
[7] python
[8] python
[9] python

In [137]:
#alist = [0,1,2,3,4,5,6,7,8,9]
alist = ['apple','b','c','d','e','f','g','h','i','j']
for i in alist:
    print(f'[{i}] python')

[apple] python
[b] python
[c] python
[d] python
[e] python
[f] python
[g] python
[h] python
[i] python
[j] python

In [140]:
#alist = [0,1,2,3,4,5,6,7,8,9]
alist = ['apple','b','c','d','e','f','g','h','i','j']
for i in alist:
    print(f'[{i}] python')
print()
for idx, value in enumerate(alist):
    print(f'[{idx}] [{value}] python')

[apple] python
[b] python
[c] python
[d] python
[e] python
[f] python
[g] python
[h] python
[i] python
[j] python

[0] [apple] python
[1] [b] python
[2] [c] python
[3] [d] python
[4] [e] python
[5] [f] python
[6] [g] python
[7] [h] python
[8] [i] python
[9] [j] python

In [145]:
for _ in range(0,3,1) :
    print("안녕하세요.")

안녕하세요.
안녕하세요.
안녕하세요.

In [148]:
# 1~10까지 합 구하기
hap = 0
for i in range(1,11,1):
    hap = hap + i
print(f'1~10까지 합: {hap}')

1~10까지 합: 55

In [149]:
# 리스트 요소들의 합
a_list = [11,432,5346,352,64323,853456]
hap = 0

for i in a_list:
    hap = hap + i

print(f'{a_list} 안의 모든 합은: {hap}')

# = sum(a_list)

[11, 432, 5346, 352, 64323, 853456] 안의 모든 합은: 923920

In [150]:
a_list = [11,432,5346,352,64323,853456]
sum(a_list)

923920

In [156]:
n = int(input('합계를 구할 숫자 입력: '))
hap = 0

for i in range(1,n+1,1):
    hap = hap + i

print(f'1~{n}까지의 합은: {hap}')

합계를 구할 숫자 입력: 100
1~100까지의 합은: 5050

In [159]:
n = int(input('합계를 구할 숫자 입력:'))
hap = 0

for i in range(1,n+1,2):
    hap = hap + i
    
print(f'1~{n}까지 짝수를 제외한 합은: {hap}')

합계를 구할 숫자 입력:100
1~100까지 짝수를 제외한 합은: 2500

In [165]:
n = int(input(f'몇단을 출력할까요?: '))

for i in range(1,10,1):
    a = i * n
    print(f'{n} x {i} = {a}')

몇단을 출력할까요?: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [14]:
for i in range(2,10,1) :
    for k in range(1,10,1) :
        print(f'%d x %d = %d' % (i,k,i*k))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [4]:
print("# 2단           # 3단           # 4단           # 5단           # 6단           # 7단           # 8단           # 9단")
for i in range(1,10,1) :
    for dan in range (2, 10, 1):
        print (f'{dan} x {i} = {dan*i}', end="\t")
    print()

# 2단           # 3단           # 4단           # 5단           # 6단           # 7단           # 8단           # 9단
2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

In [6]:
for i in range(10):
    print('숫자 %d' % i, end = ",")

숫자 0,숫자 1,숫자 2,숫자 3,숫자 4,숫자 5,숫자 6,숫자 7,숫자 8,숫자 9,

In [9]:
for 단 in range(2,10,1):
    print(f' #{단}단', end='      ')
for w in range(1,10,1):
    print("")
    for h in range(2,10,1):
        print(' %d x %d = %d'%(h,w,h*w),end=' ')

 #2단       #3단       #4단       #5단       #6단       #7단       #8단       #9단
 2 x 1 = 2  3 x 1 = 3  4 x 1 = 4  5 x 1 = 5  6 x 1 = 6  7 x 1 = 7  8 x 1 = 8  9 x 1 = 9
 2 x 2 = 4  3 x 2 = 6  4 x 2 = 8  5 x 2 = 10  6 x 2 = 12  7 x 2 = 14  8 x 2 = 16  9 x 2 = 18
 2 x 3 = 6  3 x 3 = 9  4 x 3 = 12  5 x 3 = 15  6 x 3 = 18  7 x 3 = 21  8 x 3 = 24  9 x 3 = 27
 2 x 4 = 8  3 x 4 = 12  4 x 4 = 16  5 x 4 = 20  6 x 4 = 24  7 x 4 = 28  8 x 4 = 32  9 x 4 = 36
 2 x 5 = 10  3 x 5 = 15  4 x 5 = 20  5 x 5 = 25  6 x 5 = 30  7 x 5 = 35  8 x 5 = 40  9 x 5 = 45
 2 x 6 = 12  3 x 6 = 18  4 x 6 = 24  5 x 6 = 30  6 x 6 = 36  7 x 6 = 42  8 x 6 = 48  9 x 6 = 54
 2 x 7 = 14  3 x 7 = 21  4 x 7 = 28  5 x 7 = 35  6 x 7 = 42  7 x 7 = 49  8 x 7 = 56  9 x 7 = 63
 2 x 8 = 16  3 x 8 = 24  4 x 8 = 32  5 x 8 = 40  6 x 8 = 48  7 x 8 = 56  8 x 8 = 64  9 x 8 = 72
 2 x 9 = 18  3 x 9 = 27  4 x 9 = 36  5 x 9 = 45  6 x 9 = 54  7 x 9 = 63  8 x 9 = 72  9 x 9 = 81

In [23]:
for 단 in range(2,10,1):
    print(f'#{단}단', end = '            ')
for i in range(1,10,1) :
    print('')
    for k in range(2,10,1) :
        print(f'%d x %d = %d' % (k,i,i*k), end = '\t')

#2단            #3단            #4단            #5단            #6단            #7단            #8단            #9단
2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

In [26]:
for i in range(2,10,1):
    print(f'#{i}단', end = ' ')

#2단 #3단 #4단 #5단 #6단 #7단 #8단 #9단

In [27]:
for i in range(2,10,1):
    print(f'#{i:2}단', end = ' ')

# 2단 # 3단 # 4단 # 5단 # 6단 # 7단 # 8단 # 9단

In [36]:
for i in range(2,10,1):
    print(f'#  {i:2}단', end = ' ')
print()
for i in range(1,10):
    for dan in range(2,10):
        print(f'{dan}x{i}= {dan*i:2}',end ='  ')
    print()

#   2단 #   3단 #   4단 #   5단 #   6단 #   7단 #   8단 #   9단
2x1=  2  3x1=  3  4x1=  4  5x1=  5  6x1=  6  7x1=  7  8x1=  8  9x1=  9
2x2=  4  3x2=  6  4x2=  8  5x2= 10  6x2= 12  7x2= 14  8x2= 16  9x2= 18
2x3=  6  3x3=  9  4x3= 12  5x3= 15  6x3= 18  7x3= 21  8x3= 24  9x3= 27
2x4=  8  3x4= 12  4x4= 16  5x4= 20  6x4= 24  7x4= 28  8x4= 32  9x4= 36
2x5= 10  3x5= 15  4x5= 20  5x5= 25  6x5= 30  7x5= 35  8x5= 40  9x5= 45
2x6= 12  3x6= 18  4x6= 24  5x6= 30  6x6= 36  7x6= 42  8x6= 48  9x6= 54
2x7= 14  3x7= 21  4x7= 28  5x7= 35  6x7= 42  7x7= 49  8x7= 56  9x7= 63
2x8= 16  3x8= 24  4x8= 32  5x8= 40  6x8= 48  7x8= 56  8x8= 64  9x8= 72
2x9= 18  3x9= 27  4x9= 36  5x9= 45  6x9= 54  7x9= 63  8x9= 72  9x9= 81

In [52]:
for i in range (1,5):
    print(i,end = '  ')
print()
for j in range (5,9):
    print(j,end = '  ')
print()
for k in range (9,13):
    print(k, end = ' ')

1  2  3  4
5  6  7  8
9 10 11 12

In [53]:
for i in range (1,11,3):
    print(i, end = '  ')
print()
for j in range (2,12,3):
    print(j, end = '  ')
print()
for k in range (3,13,3):
    print(k, end = '  ')

1  4  7  10
2  5  8  11
3  6  9  12

In [54]:
j=0
for _ in range(3):
    for i in range (4):
        j +=  1
        print (f'{j :>2d}', end=" ")
    print()

 1  2  3  4
 5  6  7  8
 9 10 11 12

In [62]:
v = 1
for i in range(3):
    for j in range(4):
        print (f'{v:2}', end = ' ')
        v += 1
    print()

 1  2  3  4
 5  6  7  8
 9 10 11 12

In [67]:
for i in range(3):
    v = 0
    for j in range(4):
        print (f'{v+1+i:2}', end = ' ')
        v += 3
    
    print()

 1  4  7 10
 2  5  8 11
 3  6  9 12

In [95]:
import random

d1, d2, d3, d4, d5, d6 = 0, 0, 0, 0, 0, 0
for i in range(100):
    num = random.randint(1,6)
    
    if num == 1: d1 += 1
    if num == 2: d2 += 1
    if num == 3: d3 += 1
    if num == 4: d4 += 1
    if num == 5: d5 += 1
    if num == 6: d6 += 1
        
print(f'주사위 숫자별 개수:')
print(f'D1[{d1}] D2[{d2}] D3[{d3}] D4[{d4}] D5[{d5}] D6[{d6}]')

maxv = d1
maxd = list()

if maxv <= d2 :
    maxd = 2
    maxv = d2
    
if maxv <= d3 :
    maxd = 3
    maxv = d3
    
if maxv <= d4 :
    maxd = 4
    maxv = d4
    
if maxv <= d5 :
    maxd = 5
    maxv = d5
    
if maxv <= d6 :
    maxd = 6
    maxv = d6

print(f'가장 많이 나온 주사위 숫자: {maxd}, 횟수 {maxv}')

주사위 숫자별 개수:
D1[21] D2[21] D3[16] D4[11] D5[14] D6[17]
가장 많이 나온 주사위 숫자: 2, 횟수 21

In [96]:
for i in range(0,3,1) :
    print("%d : 안녕하세요? for 문을 공부 중입니다. ^^" % i)

0 : 안녕하세요? for 문을 공부 중입니다. ^^
1 : 안녕하세요? for 문을 공부 중입니다. ^^
2 : 안녕하세요? for 문을 공부 중입니다. ^^

In [97]:
i = 0
while i < 3 :
    print("%d : 안녕하세요? while 문을 공부 중입니다. ^^" %i)
    i += 1

0 : 안녕하세요? while 문을 공부 중입니다. ^^
1 : 안녕하세요? while 문을 공부 중입니다. ^^
2 : 안녕하세요? while 문을 공부 중입니다. ^^

In [99]:
hap, i = 0, 1
while i < 101:
    hap +=i
    i += 1

print(hap)

5050

In [101]:
hap, i = 0, 1
while True:
    hap += i
    i += 1
    if i > 100:
        break
print(hap)

5050

In [106]:
treeHit = 0

while True:
    treeHit += 1
    print(f'나무를 %d번 찍었습니다.' % treeHit)
    if treeHit == 10:
        break
print('나무 넘어 갑니다~')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어 갑니다~

In [109]:
prompt = """
    1. Add   2. Del   3. Modify   4. Quit
    
    Enter number: """

while True:
    num = input(prompt)
    print(f'입력한 숫자는 [{num}]')
    
    if num == '4':
        break
        
print('프로그램을 종료합니다.')

    1. Add   2. Del   3. Modify   4. Quit

    Enter number: 1
입력한 숫자는 [1]

    1. Add   2. Del   3. Modify   4. Quit

    Enter number: 2
입력한 숫자는 [2]

    1. Add   2. Del   3. Modify   4. Quit

    Enter number: 3
입력한 숫자는 [3]

    1. Add   2. Del   3. Modify   4. Quit

    Enter number: 4
입력한 숫자는 [4]
프로그램을 종료합니다.

In [9]:
a = list(input('숫자를 여러개 입력하세요: '))
length = len(a)
i = 0
while i <length:
    print('\u2605'*int(a[i])*2)
    i += 1

숫자를 여러개 입력하세요: 123
★★
★★★★
★★★★★★

In [11]:
length = int(input('공의 높이를 입력하세요(meter): '))
meter, cnt = length, 0

while True:
    print(f'{meter} 미터 입니다.')
    meter /= 2
    cnt += 1
    if meter < 0.00001 : break

print(f'{length} 위치에서 공의 튕긴 횟수는 총 {cnt}번 입니다.')

공의 높이를 입력하세요(meter): 30
30 미터 입니다.
15.0 미터 입니다.
7.5 미터 입니다.
3.75 미터 입니다.
1.875 미터 입니다.
0.9375 미터 입니다.
0.46875 미터 입니다.
0.234375 미터 입니다.
0.1171875 미터 입니다.
0.05859375 미터 입니다.
0.029296875 미터 입니다.
0.0146484375 미터 입니다.
0.00732421875 미터 입니다.
0.003662109375 미터 입니다.
0.0018310546875 미터 입니다.
0.00091552734375 미터 입니다.
0.000457763671875 미터 입니다.
0.0002288818359375 미터 입니다.
0.00011444091796875 미터 입니다.
5.7220458984375e-05 미터 입니다.
2.86102294921875e-05 미터 입니다.
1.430511474609375e-05 미터 입니다.
30 위치에서 공의 튕긴 횟수는 총 22번 입니다.

In [2]:
import random

snum = random.randint(1,100)
count = 0

a = '''
---------------------------------
비밀의 숫자가 지정되었습니다.
---------------------------------'''
print(a)


while True :
    num = int(input('숫자를 입력하세요: '))
    count += 1
    if num > snum:
        print('비밀의 수는 더 작은 수 입니다.')
    elif num < snum:
        print('비밀의 수는 더 큰 수 입니다.')
    else:
        print('정답입니다.')
        print('----------------------------')
        print(f'비밀의 숫자: {snum}')
        print(f'당신의 입력 횟수: {count}')
        break

---------------------------------
비밀의 숫자가 지정되었습니다.
---------------------------------
숫자를 입력하세요: 50
비밀의 수는 더 작은 수 입니다.
숫자를 입력하세요: 25
비밀의 수는 더 작은 수 입니다.
숫자를 입력하세요: 10
비밀의 수는 더 작은 수 입니다.
숫자를 입력하세요: 5
비밀의 수는 더 큰 수 입니다.
숫자를 입력하세요: 7
비밀의 수는 더 작은 수 입니다.
숫자를 입력하세요: 6
정답입니다.
----------------------------
비밀의 숫자: 6
당신의 입력 횟수: 6

# enumerate() 함수

In [3]:
# enumerate() 사용 : index와 value 함께 출력
mylist = [2, 7, 10, 13, 15]
for idx, val in enumerate(mylist): #enumerate(mylist, 10)하면 인덱스 넘어 10부터 시작
    print(f'idx[{idx}] val[{val}]')

idx[0] val[2]
idx[1] val[7]
idx[2] val[10]
idx[3] val[13]
idx[4] val[15]