In [28]:
import datetime
now = str(datetime.datetime.now())
print(now)

t = int(now[11:13])
m = int(now[14:16])
s = int(now[17:19])

if '60-m' == '00':
    x = 18-t
else :
    x = 17-t

print(f'집에 갈 때까지 {x}:{60-m}:{60-s} 남았다!')

2021-08-25 17:22:55.181268
집에 갈 때까지 0:38:5 남았다!

In [1]:
#자료형 확인
a = [1,2,3,4,5]
b = (1,2,3,4,5)
c = {1:'a',2:'b',3:'c',4:'d',5:'e'}
d = {1,2,3,4,5}

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

# 1. 리스트: List

In [3]:
#리스트 생성
mylist = list() #[]

for i in range(1,11):
    mylist.append(i) #리스트에 데이터 넣기

print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
mylist = list(range(1,11))
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
mylist = [range(1,11)]
print(mylist)

[range(1, 11)]

## 리스트 요소에 접근

In [12]:
# 인덱싱 & 슬라이싱
color = ['red', 'green', 'blue', 'black', 'white']

print(color[0])
print(color[4])
print(color[1:4])

red
white
['green', 'blue', 'black']

In [13]:
#연속된 자료형은 for문으로
colors = ['red', 'green', 'blue', 'black', 'white']

for color in colors:
    print('나는 %s을 가장 좋아합니다.'% color)

나는 red을 가장 좋아합니다.
나는 green을 가장 좋아합니다.
나는 blue을 가장 좋아합니다.
나는 black을 가장 좋아합니다.
나는 white을 가장 좋아합니다.

In [14]:
a = [1,2,3]
b = [4,5,6,7]
c = a+b
print(len(c))

7

In [15]:
# 리스트 요소 추가하기 append() 함수
flowers = ['무궁화','장미','개나리']
print(flowers)

flowers.append('진달래')
print(flowers)

['무궁화', '장미', '개나리']
['무궁화', '장미', '개나리', '진달래']

In [16]:
# 리스트에서 요소 삭제하기 remove()함수
flowers = ['무궁화','장미',30,'개나리']
print(flowers)

flowers.remove(30)
print(flowers)

['무궁화', '장미', 30, '개나리']
['무궁화', '장미', '개나리']

In [17]:
# 리스트 요소 변경하기
flowers[1] = '진달래'
print(flowers)

['무궁화', '진달래', '개나리']

In [18]:
#두 리스트 합치기
store = flowers + colors
print(store)

['무궁화', '진달래', '개나리', 'red', 'green', 'blue', 'black', 'white']

In [19]:
# 리스트 맨 뒤 항목 빼기
colors.pop()
colors

['red', 'green', 'blue', 'black']

In [20]:
# 순서대로 정렬
colors.sort()
colors

['black', 'blue', 'green', 'red']

## 2차원 리스트

In [23]:
numbers = [[10,20,30],[40,50,60,70]]

print(numbers[0])
print(numbers[1])

print(numbers[0][2])
print(numbers[1][2])
print(numbers[1][0:3])

[10, 20, 30]
[40, 50, 60, 70]
30
60
[40, 50, 60]

In [24]:
# 3차원 리스트
numbers = [[10,20,30],[[40,50],60,70]]

print(numbers[1][0][0])

40

In [36]:
nums = list()

for i in range(1,13):
    nums.append(i)

print(nums)

for j in range(3):
    for k in range(4):
        print(f'{nums}', end = " ")
    print()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [42]:
TF = [[0]*4 for _ in range(3)]

num = 1
for i in range(3):
    for j in range(4):
        TF[i][j] = num
        num +=1
        
for i in TF:
    for j in i:
        print(f'{j:>2d}', end = " ")
    print()

 1  2  3  4
 5  6  7  8
 9 10 11 12

In [46]:
lst = [[] for i in range(3)]
value = 1
for i in range(3):
    for k in range(4):
        lst[i].append("%2d"%value)
        value += 1
        
for i in range(3):
    print(" ".join(lst[i]))

 1  2  3  4
 5  6  7  8
 9 10 11 12

In [48]:
a = list()

for i in range(1,201):
    if i % 3 ==0:
        a.append(i)

print("1~200중 3의 배수는: ",a)

1~200중 3의 배수는:  [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

In [49]:
a = [i for i in range(1,200) if i % 3 == 0]
print("1~200중 3의 배수는: ",a)

1~200중 3의 배수는:  [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

In [64]:
ilist = ['TXT', '트와이스', '블랙핑크', '뉴이스트']
g = []

for idx, val in enumerate(ilist):
    temp = int(input(f'{val}의 성적 입력'))
    g.append(temp)
    
print('-'*30)
print('아이돌 성적 결과')
print('-'*30)

result = ''
for i in range(len(ilist)):
    if g[i] > 80 : result = "수료"
    else : result = "미수료"
   
    print(f'{ilist[i]}의 성적은 {g[i]}점: {result}')

TXT의 성적 입력100
트와이스의 성적 입력70
블랙핑크의 성적 입력95
뉴이스트의 성적 입력85
------------------------------
아이돌 성적 결과
------------------------------
TXT의 성적은 100점: 수료
트와이스의 성적은 70점: 미수료
블랙핑크의 성적은 95점: 수료
뉴이스트의 성적은 85점: 수료

In [6]:
idols = ['BTS', '트와이스', '블랙핑크', '뉴이스트']
#성적 입력
scores = [int(input(f"'{idol}'의 성적 입력:")) for idol in idols]
#idols의 요소를 idol로 가져오고 성적 입력받음 conprehention

print("""-----------------------------------------
아이돌 성적 결과
-----------------------------------------""")
#결과
result=["PASS" if score >= 80 else "FAIL" for score in scores]
#최종 성적
for i, v in enumerate(idols):
    print(f"'{v}'의 성적은 {scores[i]}점: {result[i]}")

'BTS'의 성적 입력:10
'트와이스'의 성적 입력:100
'블랙핑크'의 성적 입력:50
'뉴이스트'의 성적 입력:90
-----------------------------------------
아이돌 성적 결과
-----------------------------------------
'BTS'의 성적은 10점: FAIL
'트와이스'의 성적은 100점: PASS
'블랙핑크'의 성적은 50점: FAIL
'뉴이스트'의 성적은 90점: PASS

In [4]:
for i, v in enumerate(idols):
    print(f' i:{i}, v: {v}')
    #print(f"'{v}'의 성적은 {scores[i]}점: {result[i]}")

 i:0, v: BTS
 i:1, v: 트와이스
 i:2, v: 블랙핑크
 i:3, v: 뉴이스트

In [30]:
dates = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

a = input('YYYYMMDD: ')
y = int(a[0:4])
m = int(a[4:6])
d = int(a[6:8])

if y % 400 == 0 or (y % 100 != 0 and y % 4 ==0):
    dates[1]=29

print('-'*30)

days = 0
for i in range(m-1):
    days+=dates[i]
days += d

print(f'{y}/1/1 ~ {y}/{m}/{d}: {days}')

YYYYMMDD: 20210721
------------------------------
2021/1/1 ~ 2021/7/21: 202

In [38]:
from datetime import datetime

start = input('시작일(YYMMDD): ')
end = input('목표일(YYMMDD): ')

sday = datetime.strptime(start, '%Y%m%d')
eday = datetime.strptime(end, '%Y%m%d')
print(f'{start} ~ {end}까지의 소요일은 {(eday - sday).days} 일')

시작일(YYMMDD): 20210101
목표일(YYMMDD): 20210721
20210101 ~ 20210721까지의 소요일은 201 일